<!DOCTYPE html>
<html>
<head>
    <title>PhishGuard - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <h1>PhishGuard</h1>

    <h2>Secure Login</h2>

    <p>Phishing URL Reporting System</p>

    <form method="POST">

        <label>Email:</label>
        <input type="email" name="email" required>

        <br><br>

        <label>Password:</label>
        <input type="password" name="password" required>

        <br><br>

        <button type="submit">Login</button>

    </form>

    <p>
        Don't have an account?
        <a href="/register">Create Account</a>
    </p>

</body>
</html>